*{
    text-decoration:none;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    flex-direction: column;
}

body::before {
    content: "";
    background-image: url("../img/fundo.png");
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Mantém a imagem atrás do conteúdo */
    filter: brightness(0.25);
}

.divLogin{
    background: rgb(89,110,241);
    background: linear-gradient(180deg, rgba(89,110,241,1) 27%, rgba(51,63,139,1) 76%);
    width: 25vw;
    min-height: fit-content;
    height: 30vw;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap:2.5vw;

}
.nomeLogin{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
    margin-top: 3.5vw;
    color: white;
}

.boxform{
    font-family: Arial, Helvetica, sans-serif;
    width: 18vw;;
    line-height: 1.7;

}

.labelform{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9vw;
}

.boxname{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: start;
    margin-inline: auto;
}

.botaoForm{
    width: 16vw;
    height: 3vw;
    border-radius: 15px;
    background-color: #1f34bd;
    color: white;
    
}
.form{
    display: flex;
    flex-direction: column;
    gap:2vw;
}

.boxcadastrologinform{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    opacity: 0.9;
}
.notificacao{
    float: right;
    padding: 1vw;
    display: flex;
    place-items: center;
    padding-left: 1vw;
    width: 13vw;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 35px;
    margin-right: 50px;
    border-radius: 4px;
    width: fit-content;
}
.Grande {
    background-color: rgba(255, 0, 0, 0.7);
}
.Médio {
    background-color: rgba(255, 166, 0, 0.7);
}
.Pequeno {
    background-color: rgba(255, 238, 0, 0.7);
}

.icone {
    height: 2.5vw;
    text-align: center;

}

.texto{
    font-size: 1.5vw;
    color: white;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

.separaIconeTexto{
    padding-left: 2vh;
}



.icone3 {
    height: 2.5vw;
    text-align: center;

}

.texto2 {
    font-size: 1.5vw;
    color: black;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}


.separaIconeTexto2 {
    padding-left: 2vh;
}




.icone3 {
    height: 2.5vw;
    text-align: center;

}

.texto3 {
    font-size: 1.5vw;
    color: black;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}


.separaIconeTexto3 {
    padding-left: 2vh;
}