*{
    text-decoration:none;
    font-family: "Poppins";
    padding: 0;
    margin:0;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    flex-direction: column;
}

body::before {
    content: "";
    background: rgb(0,34,70);
background: radial-gradient(circle, rgba(0,34,70,1) 0%, rgb(7, 45, 102) 100%);
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Mantém a imagem atrás do conteúdo */
    filter: brightness(0.25);
}

.divLogin{
    box-shadow: 0 4px 150px rgba(255, 255, 255, 0.1); /* Aumentado o raio de desfoque para 40px */

    background: rgb(0,34,70);
background: radial-gradient(circle, rgba(0,34,70,1) 0%, rgba(0,0,50,1) 100%);
    width: 25vw;
    min-height: fit-content;
    height: 30vw;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap:2.5vw;

}
.modal{
    display:none;
}
.sectionPainelDeControle{
    display:flex;
}

.nomeLogin{
    font-size: 3vw;
    margin-top: 3.5vw;
    color: white;
    font-weight: 400;
}
.mensagem{
    font-weight: 400;
    font-size: 1.5vw;
    color: rgba(255, 255, 255, 0.7);
}
.status{
    font-size: 1vw;
    color: rgba(255, 255, 255, 0.7);

}
.boxform{
    width: 18vw;;
    line-height: 1.7;

}

.labelform{
    font-size: 0.9vw;
}

.boxname{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: start;
    margin-inline: auto;
}

.botaoForm{
    width: 16vw;
    height: 3vw;
    border-radius: 15px;
    background-color: #1f34bd;
    color: white;
    
}
.form{
    display: flex;
    flex-direction: column;
    gap:2vw;
}

.boxcadastrologinform{
    color: white;
    text-decoration: none;
    font-size: 1vw;
    opacity: 0.9;
}
.notificacao{
    float: right;
    padding: 1vw;
    display: flex;
    place-items: center;
    padding-left: 1vw;
    width: 13vw;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 35px;
    margin-right: 50px;
    border-radius: 4px;
    width: fit-content;
}
.Grande {
    background-color: rgba(255, 0, 0, 0.7);
}
.Médio {
    background-color: rgba(255, 166, 0, 0.7);
}
.Pequeno {
    background-color: rgba(255, 238, 0, 0.7);
}

.icone {
    height: 2.5vw;
    text-align: center;

}

.texto{
    font-size: 2vw;
    color: white;
    font-weight: 600;
}

.separaIconeTexto{
    padding-left: 2vh;
   display: flex; 
   min-width: min-content;
   flex-direction: column;

    align-items: start;
}



.icone3 {
    height: 2.5vw;
    text-align: center;

}

.texto2 {
    font-size: 1.5vw;
    color: black;
    font-weight: 300;
}


.separaIconeTexto2 {
    padding-left: 2vh;
    
}




.icone3 {
    height: 2.5vw;
    text-align: center;

}

.texto3 {
    font-size: 1.5vw;
    color: black;
    font-weight: 300;
}


.separaIconeTexto3 {
    padding-left: 2vh;
}



.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.mensagensErro{
    font-size:1.5vw;
    color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;

}
.modal.show {
    display: block; 
    opacity: 1; 
    animation: fadeIn 0.2s; /* Fade-in effect */

}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.modal-content {
    background-color: rgb(255, 77, 77);
  margin-inline: auto;
  width: fit-content;
  text-wrap: nowrap;
  padding: 1vw;
  padding-inline: 2vw;
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  gap:0.8vw;
  margin-top: 2vw;
  border-radius: 0.5vw;

}

.close {
    color: #fefefe;
    float: right;
    font-size: 20px;
    font-weight: normal;
    display: flex;
    justify-content: end;
}

.close:hover,
.close:focus {
  color: rgb(255, 167, 167);
  text-decoration: none;
  cursor: pointer;
}







.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100vh;
    transition: width 0.3s ease;
    overflow-x: hidden;
    cursor: pointer;
    background-color:rgb(2, 18, 37); 
}

.sidebar.open {
    width: 250px;
}

.menu {
    padding-top: 60px;
    display: none;
}

.sidebar.open .menu {
    display: block;
}


.sidebar .toggle-btn {
    background-color:rgb(2, 18, 37); 
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: end;
}

.toggle-btn{
    display: flex;
    justify-content: end;
}
.menu a {
    display: block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    transition: 0.3s;
}

.menu a:hover {
    background-color: #575f79; /* Cor de fundo diferente quando o cursor estiver em cima */
    color: #E0E0E0; /* Clareia a cor do texto */
    font-weight: bold; /* Torna o texto negrito ao passar o cursor */
}