{% extends "baseLogado.html" %}

{% block title %} Add Dados {% endblock %}

{% block content %}

<h2>Você foi logado como {{current_user.username}}</h2>

<h1>qual dado adicionar</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <p>
        {{form.nomedado.label}}
        {{form.nomedado()}}
    </p> 
    
    <p>
        {{form. minMaquina.label}} <br>
        {{form. minMaquina()}}
    </p> 

    <p>
        {{form. msgErroMin.label}} <br>
        {{form. msgErroMin()}}
    </p>
    <div>
        {{ form.optionMin.label }}<br> 
        {{ form.optionMin() }}<br> 
    </div>
    <p>
        {{form. maxMaquina.label}} <br>
        {{form. maxMaquina()}}
    </p>

    <p>
        {{form. msgErroMax.label}} <br>
        {{form. msgErroMax()}}
    </p>

   
    <div>
        {{ form.optionMax.label }}<br> 
        {{ form.optionMax() }}<br> 
    </div>
    
    <p> {{form.submit()}} </p>
</form>

{% endblock %}