{% extends "base.html" %}

{% block title %} Add Relação {% endblock %}

{% block content %}

    <p>aqui um dados específico</p>
    <h1 id="dado">{{maquinas}}</h1>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
<script>


    const socket = io({autoConnect: false});
    console.log("entrou")
    socket.connect();
    var id = {{current_user.id}}
    socket.emit("user_join", id);

    


    socket.on("notificacoes", (obj)=>{
        console.log(obj["mensagem"])
    })


    socket.on('atualizar_dados', (obj)=> {
        console.log(obj)
    });
    
    // O BUSCAR DADOS DEVE BUSCAR TODOS OS DADOS MAS DEVE FAZER 
    // UM FETCH QUE RETORNA AS NOTIFICAÇÕES TAMBÉM (ESSE FETCH DEVE
    // DELETAR AS NOTIFICAÇÕES QUE ELE MANDAR E PASSAR PARA O HISTORICO)


</script>

{% endblock %}