{% extends "base.html" %}

{% block title %} Add Relação {% endblock %}

{% block content %}

    <p>aqui um dados específico</p>
    <h1 id="dado">{{maquinas}}</h1>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
<script>
    const operadorId = 1

    const socket = io();

    const userId = 1; // ID do usuário

    socket.emit('join_room', {userId});

    socket.on('atualizar_dadosx', (data)=> {
        console.log("aquie ó"+data)
    });
    socket.on('atualizar_dados', (data)=> {
        buscarDados()
    });
    
    // O BUSCAR DADOS DEVE BUSCAR TODOS OS DADOS MAS DEVE FAZER 
    // UM FETCH QUE RETORNA AS NOTIFICAÇÕES TAMBÉM (ESSE FETCH DEVE
    // DELETAR AS NOTIFICAÇÕES QUE ELE MANDAR E PASSAR PARA O HISTORICO)

    async function buscarDados() {
        const resp = await fetch("/retornar_dados"); // mudar no deploy
        var dados = await resp.json();
        console.log(dados)
        
        //checar se é uma string
        dados.forEach(i => {
            if(typeof i === "string"){
                dados = dados.filter(item => item !== i);
            }
        });
        console.log(dados)
    }

</script>

{% endblock %}