{% extends "base.html" %}

{% block title %} Sign Up {% endblock %}

{% block content %}

<div class="divLogin"> 
    <h2 class="nomeLogin"> Sign Up</h2>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="boxname">
        {{form.username.label}} 
        {{form.username()}}
    </div> 

    <div class="boxname">
        {{form.password.label}}
        {{form.password()}}
    </div>

    <div> 
        {{form.submit(class="botaoForm")}} 

    </div>
</form>
<a href="{{url_for('login')}}" class="boxcadastrologinform">fazer Login</a>
</div>


{% endblock %}